@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 20vh);
    grid-template-columns: repeat(3, 20vh);
    font-family: 'Roboto', sans-serif;
}
.box{
    border: solid 1px black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(245, 206, 237);
}
.gameInfo{
    padding: 0 30px;
    font-family: 'Baloo Bhaina 2', cursive;
}
.imgbox img{
    display: none;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}